.log-form{
  width: 500px;
  margin: auto;
  margin-top: 30px;
  padding: 20px;
  border-color: silver;
  border-style: solid
}

.card-container{
  margin: 0px 210px;
}

.card-input{
  text-align: center;
}

.mood{
  text-align: center;
  margin: 0px 0px 10px 0px;
}

.space{
  padding: 20px;
}

.code-logs{
  margin: 50px 0px 50px 0px;
  text-align: center;
}

.daily-code-log{
  margin: 50px 0px 0px 0px;
  text-align: center;
}

.edit-button{
}

.show{
  margin: auto;
}

.header{
  padding-bottom: 15px;
}

#title{
  text-align: center;
}
